<script type="text/x-red" data-template-name="arduino">
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> <span data-i18n="node-red:common.label.name"></span></label>
        <input type="text" id="node-input-name" data-i18n="[placeholder]node-red:common.label.name">
    </div>

    <div class="form-row node-input-serial">
		<label for="node-input-serial"><i class="fa fa-random"></i> <span data-i18n="node-red-node-serialport:serial.label.serialport"></span></label>
		<input type="text" id="node-input-serial">
	</div>
    <div class="form-row" style="padding-left:20px;">
        <label for="node-input-ardtype"><i class="fa fa-tag"></i> <span data-i18n="arduino.label.type"></span></label>
        <input type="text" id="node-input-ardtype" data-i18n="[placeholder]arduino.label.arduinotype">
    </div>
    <div class="form-row" style="padding-left:20px;">
        <label for="node-input-cpu"><i class="fa fa-tag"></i> <span data-i18n="arduino.label.cpu"></span></label>
        <input type="text" id="node-input-cpu" data-i18n="[placeholder]arduino.label.cpu">
    </div>
    <div class="form-row" style="padding-left:20px;">
        <label for="node-input-libraries"><i class="fa fa-tag"></i> <span data-i18n="arduino.label.libraries"></span></label>
        <input type="text" id="node-input-libraries" data-i18n="[placeholder]arduino.label.libraries">
    </div>
</script>

<script type="text/x-red" data-help-name="arduino">
    <p>Placeholder</p>
</script>

<script type="text/javascript">
    RED.nodes.registerType('arduino', {
        category: 'GeneSIS',
        color: '#fdf0c2',
        defaults: {
            name: {
                value: ""
            },
            serial: {type:"serial-port",required:true},
            ardtype: {
                value: ""
            },
            cpu: {
                value: ""
            },
            libraries: {
                value: "[]"
            }
        },
        inputs: 1,
        outputs: 1,
        icon: "arduino.png",
        label: function() {
            return this.name||"arduino";
        },
        labelStyle: function () {
            return this.name ? "node_label_italic" : "";
        },
    });
</script>
